{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}Login {% endblock %}

{% block content %}
    <h2>Register!</h2>
    <p>Enter you username/password to start</p>

    <form action="{{ url_for('register') }}", id="form" method="POST">
        {{ displayField(form.username, 'Username', id="username", autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'Password', id="password", autocomplete="off") }}
         {{ displayField(form.confirm_pswd, 'confirm Password', id="conf_password", autocomplete="off") }}
        <input type="hidden" id="request" name="request" class="request">
        <p>generate and download keys</p>
        <div class="form-group">
            <input id="download" value="download keys" class="btn btn-warning">
        </div>
        <div class="form-group">
            <input id="register" value="Register" class="btn btn-warning">
        </div>
        {{ form.csrf_token }}
    </form>

    <hr>

    <p>Already registered? <a href={{url_for('login')}}>login here</a>.</p>
 <script src="../static/scripts/dist/forge.min.js"></script>
<script src="../static/scripts/Blob.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
<script type="text/javascript" src="../static/scripts/certif.js?ver<%=DateTime.Now.Ticks.ToString()%"></script>
{% endblock %}


