<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">


        <title>{% block title %}{% endblock %} - insat chat</title>

    </head>

    <body>

 <!-- Flash error messages start -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- The messages, if any, are returned as a list. And not all redenring of the pages will have a message. So we put a condition to check whether the messages list is empty -->
                    {% if messages %}
                        <!-- We will set the class form our custom css file we had created earlier. And we want to see the first item in the list. -->
                        <div class="alert alert-{{ messages[0][0] }} " role="alert">
                            {{ messages[0][1] }}
                        </div>
                        <hr>
                    {% endif %}
                {% endwith %}
                <!-- Flask error messages end -->

       {% block content %}
       {% endblock %}

    </body>
</html>